<div class='box box-primary'>
   <div class='box-header'>
      <span id = 'bol-000003'></span> 
      <h3 class='box-title'><strong>bol-000003 : Boiler 1</strong></h3>
      <div class="box-tools pull-right" id = "datebol-000003"></div>
   </div>
   <div class='box-body'>
      <div class='container-fluid'>
         <div class='row'>
            <div class='col-md-4'>
               <img src = './images/bol-000003.png'style = 'width: 100%;'/><button style = 'width: 100%; margin-top: 25px;' type='button' class='btn btn-danger' data-toggle='modal' data-target='.bd-example-modal-lg-bol-000003'>เปลี่ยนรูปภาพ</button>
               <form action='./api/upload_image.php' method='post' enctype='multipart/form-data'>
                  <div class='modal fade bd-example-modal-lg-bol-000003' tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true'>
                     <div class='modal-dialog modal-lg'>
                        <div class='modal-content'>
                           <div class='modal-header'>
                              <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                              <h5 class='modal-title' id='exampleModalLabel' style = 'font-size: 24px;'>เปลี่ยนรูปภาพ bol-000003 : Boiler 1</h5>
                           </div>
                           <div class='modal-body'>
                              <div class='form-group'><label for='upload_img'>Choose Image</label><input type='file' class='form-control-file' name='upload_img' id='upload_img' accept='image/*'/><input hidden id = '' name = 'device_id' value = 'bol-000003'/><input hidden id = '' name = 'station_id' value = '3'/></div>
                           </div>
                           <div class='modal-footer'><button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button><button type='submit' class='btn btn-danger'>Upload</button></div>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
            <div class='col-md-8'>
               <table class='table' style = 'font-size: 1.6rem;'>
                  <thead>
                     <tr style = 'font-: 1.0em;'>
                        <th  style='width: 15%'>TAG</th>
                        <th  style ='width: 15%;'>TYPE</th>
                        <th style='width: 35%;'>SENSOR DESCIPTION</th>
                        <th style='width: 10%;'>
                           <center>VALUE</center>
                        </th>
                        <th style='width: 30%;'>
                           <center>UNIT</center>
                        </th>
                     </tr>
                  </thead>
                  <tbody id = 'body_tbol-000003'>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >d1</td>
                        <td  id = '' >DI</td>
                        <td id = '' >boiler Running</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>1:ON /  0:OFF</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >d2</td>
                        <td  id = '' >DI</td>
                        <td id = '' >boiler Combustion</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>1:ON /  0:OFF</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >d3</td>
                        <td  id = '' >DI</td>
                        <td id = '' >Alarm / ผิดปกติ</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>1:Alarm/  0:Normal</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >t1</td>
                        <td  id = '' >PT100</td>
                        <td id = '' >อุณหภูมิปล่องควัน / Stack Temperature</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>39.99</center>
                        </td>
                        <td id = '' >
                           <center>C</center>
                        </td>
                        <td></td>
                     </tr>
                  </tbody>
               </table>
               <table class='table' style = 'font-size: 1em;'>
                  <thead>
                     <tr style = 'font-size: 1em;'>
                        <th  style='width: 15%;'>TAG</th>
                        <th  style = 'width:15%;padding-left: 10px;'>TYPE</th>
                        <th style='width: 35%;padding-left: 20px;'>SWITCH DESCIPTION</th>
                        <th style='width: 35%;'>CONTROL OUTPUT</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr style = 'font-size:1em;'>
                        <td  style = 'padding: 20px 0px 0px 8px;'>r1</td>
                        <td  style = 'padding: 20px 0px 0px 10px;'>Output RR</td>
                        <td style = 'padding: 20px 0px 0px 20px;'>สั่งเปิด/ปิด Boiler Running</td>
                        <td>
                           <div onclick = "fn_switch_toggle('check5d30b04ce81bc90785e9f981','bol-000003','r1');" class='checkbox'><label><input type='checkbox'  value = '5d30b04ce81bc90785e9f981' data-toggle='toggle' id = 'check5d30b04ce81bc90785e9f981'></label></div>
                        </td>
                     </tr>
                     <tr style = 'font-size:1em;'>
                        <td  style = 'padding: 20px 0px 0px 8px;'>r2</td>
                        <td  style = 'padding: 20px 0px 0px 10px;'>Output RR</td>
                        <td style = 'padding: 20px 0px 0px 20px;'>สั่งเปิด/ปิด Boiler Combusion</td>
                        <td>
                           <div onclick = "fn_switch_toggle('check5d30b04de81bc90785e9f982','bol-000003','r2');" class='checkbox'><label><input type='checkbox'  value = '5d30b04de81bc90785e9f982' data-toggle='toggle' id = 'check5d30b04de81bc90785e9f982'></label></div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
<div class='box box-primary'>
   <div class='box-header'>
      <span id = 'bol-000004'></span> 
      <h3 class='box-title'><strong>bol-000004 : Boiler 2</strong></h3>
      <div class="box-tools pull-right" id = "datebol-000004"></div>
   </div>
   <div class='box-body'>
      <div class='container-fluid'>
         <div class='row'>
            <div class='col-md-4'>
               <img src = './images/bol-000004.png'style = 'width: 100%;'/><button style = 'width: 100%; margin-top: 25px;' type='button' class='btn btn-danger' data-toggle='modal' data-target='.bd-example-modal-lg-bol-000004'>เปลี่ยนรูปภาพ</button>
               <form action='./api/upload_image.php' method='post' enctype='multipart/form-data'>
                  <div class='modal fade bd-example-modal-lg-bol-000004' tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true'>
                     <div class='modal-dialog modal-lg'>
                        <div class='modal-content'>
                           <div class='modal-header'>
                              <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                              <h5 class='modal-title' id='exampleModalLabel' style = 'font-size: 24px;'>เปลี่ยนรูปภาพ bol-000004 : Boiler 2</h5>
                           </div>
                           <div class='modal-body'>
                              <div class='form-group'><label for='upload_img'>Choose Image</label><input type='file' class='form-control-file' name='upload_img' id='upload_img' accept='image/*'/><input hidden id = '' name = 'device_id' value = 'bol-000004'/><input hidden id = '' name = 'station_id' value = '3'/></div>
                           </div>
                           <div class='modal-footer'><button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button><button type='submit' class='btn btn-danger'>Upload</button></div>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
            <div class='col-md-8'>
               <table class='table' style = 'font-size: 1.6rem;'>
                  <thead>
                     <tr style = 'font-: 1.0em;'>
                        <th  style='width: 15%'>TAG</th>
                        <th  style ='width: 15%;'>TYPE</th>
                        <th style='width: 35%;'>SENSOR DESCIPTION</th>
                        <th style='width: 10%;'>
                           <center>VALUE</center>
                        </th>
                        <th style='width: 30%;'>
                           <center>UNIT</center>
                        </th>
                     </tr>
                  </thead>
                  <tbody id = 'body_tbol-000004'>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >d1</td>
                        <td  id = '' >DI</td>
                        <td id = '' >boiler Running</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>1:ON / 0:OFF</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >d2</td>
                        <td  id = '' >DI</td>
                        <td id = '' >boiler Combustion</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>1:ON / 0:OFF</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >d3</td>
                        <td  id = '' >DI</td>
                        <td id = '' >Alarm / ผิดปกติ</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>1:Alarm / 0:Normal</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >t1</td>
                        <td  id = '' >PT100</td>
                        <td id = '' >อุณหภูมิปล่องควัน / Stack Temperature</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>34.35</center>
                        </td>
                        <td id = '' >
                           <center>C</center>
                        </td>
                        <td></td>
                     </tr>
                  </tbody>
               </table>
               <table class='table' style = 'font-size: 1em;'>
                  <thead>
                     <tr style = 'font-size: 1em;'>
                        <th  style='width: 15%;'>TAG</th>
                        <th  style = 'width:15%;padding-left: 10px;'>TYPE</th>
                        <th style='width: 35%;padding-left: 20px;'>SWITCH DESCIPTION</th>
                        <th style='width: 35%;'>CONTROL OUTPUT</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr style = 'font-size:1em;'>
                        <td  style = 'padding: 20px 0px 0px 8px;'>r1</td>
                        <td  style = 'padding: 20px 0px 0px 10px;'>Output RR</td>
                        <td style = 'padding: 20px 0px 0px 20px;'>สั่งเปิด/ปิด Boiler Running</td>
                        <td>
                           <div onclick = "fn_switch_toggle('check5d3ad002e81bc90785ee51a6','bol-000004','r1');" class='checkbox'><label><input type='checkbox'  value = '5d3ad002e81bc90785ee51a6' data-toggle='toggle' id = 'check5d3ad002e81bc90785ee51a6'></label></div>
                        </td>
                     </tr>
                     <tr style = 'font-size:1em;'>
                        <td  style = 'padding: 20px 0px 0px 8px;'>r2</td>
                        <td  style = 'padding: 20px 0px 0px 10px;'>Output RR</td>
                        <td style = 'padding: 20px 0px 0px 20px;'>สั่งเปิด/ปิด Boiler Combusion</td>
                        <td>
                           <div onclick = "fn_switch_toggle('check5d3ad004e81bc90785ee51a7','bol-000004','r2');" class='checkbox'><label><input type='checkbox'  value = '5d3ad004e81bc90785ee51a7' data-toggle='toggle' id = 'check5d3ad004e81bc90785ee51a7'></label></div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
<div class='box box-primary'>
   <div class='box-header'>
      <span id = 'heat-000001'></span> 
      <h3 class='box-title'><strong>heat-000001 : Heatpump 1</strong></h3>
      <div class="box-tools pull-right" id = "dateheat-000001"></div>
   </div>
   <div class='box-body'>
      <div class='container-fluid'>
         <div class='row'>
            <div class='col-md-4'>
               <img src = './images/heat-000001.png'style = 'width: 100%;'/><button style = 'width: 100%; margin-top: 25px;' type='button' class='btn btn-danger' data-toggle='modal' data-target='.bd-example-modal-lg-heat-000001'>เปลี่ยนรูปภาพ</button>
               <form action='./api/upload_image.php' method='post' enctype='multipart/form-data'>
                  <div class='modal fade bd-example-modal-lg-heat-000001' tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true'>
                     <div class='modal-dialog modal-lg'>
                        <div class='modal-content'>
                           <div class='modal-header'>
                              <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                              <h5 class='modal-title' id='exampleModalLabel' style = 'font-size: 24px;'>เปลี่ยนรูปภาพ heat-000001 : Heatpump 1</h5>
                           </div>
                           <div class='modal-body'>
                              <div class='form-group'><label for='upload_img'>Choose Image</label><input type='file' class='form-control-file' name='upload_img' id='upload_img' accept='image/*'/><input hidden id = '' name = 'device_id' value = 'heat-000001'/><input hidden id = '' name = 'station_id' value = '3'/></div>
                           </div>
                           <div class='modal-footer'><button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button><button type='submit' class='btn btn-danger'>Upload</button></div>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
            <div class='col-md-8'>
               <table class='table' style = 'font-size: 1.6rem;'>
                  <thead>
                     <tr style = 'font-: 1.0em;'>
                        <th  style='width: 15%'>TAG</th>
                        <th  style ='width: 15%;'>TYPE</th>
                        <th style='width: 35%;'>SENSOR DESCIPTION</th>
                        <th style='width: 10%;'>
                           <center>VALUE</center>
                        </th>
                        <th style='width: 30%;'>
                           <center>UNIT</center>
                        </th>
                     </tr>
                  </thead>
                  <tbody id = 'body_theat-000001'>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >crd1</td>
                        <td  id = '' >carel</td>
                        <td id = '' >Set Diff</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>C</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >crdh1</td>
                        <td  id = '' >carel</td>
                        <td id = '' >High Pressure CUTOFF</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>1:High / 0:Normal</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >crdl1</td>
                        <td  id = '' >carel</td>
                        <td id = '' >LOW Pressure CUTOFF</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>1:Low / 0:Normal</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >cri1</td>
                        <td  id = '' >carel</td>
                        <td id = '' >Inlet Temperature</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>C</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >cro1</td>
                        <td  id = '' >carel</td>
                        <td id = '' >Outlet Temperature</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>C</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >crs1</td>
                        <td  id = '' >carel</td>
                        <td id = '' >Set point Temp</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>C</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >d1</td>
                        <td  id = '' >Dry Contact</td>
                        <td id = '' >on/off</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>1:ON / 0:OFF</center>
                        </td>
                        <td></td>
                     </tr>
                  </tbody>
               </table>
               <table class='table' style = 'font-size: 1em;'>
                  <thead>
                     <tr style = 'font-size: 1em;'>
                        <th  style='width: 15%;'>TAG</th>
                        <th  style = 'width:15%;padding-left: 10px;'>TYPE</th>
                        <th style='width: 35%;padding-left: 20px;'>SWITCH DESCIPTION</th>
                        <th style='width: 35%;'>CONTROL OUTPUT</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr style = 'font-size:1em;'>
                        <td  style = 'padding: 20px 0px 0px 8px;'>r1</td>
                        <td  style = 'padding: 20px 0px 0px 10px;'>Output RR</td>
                        <td style = 'padding: 20px 0px 0px 20px;'>ON/OFF Control</td>
                        <td>
                           <div onclick = "fn_switch_toggle('check5d3ef5556875b105633ea304','heat-000001','r1');" class='checkbox'><label><input type='checkbox' checked value = '5d3ef5556875b105633ea304' data-toggle='toggle' id = 'check5d3ef5556875b105633ea304'></label></div>
                        </td>
                     </tr>
                     <tr style = 'font-size:1em;'>
                        <td style = 'padding: 20px 0px 0px 8px;'>stp1</td>
                        <td style = 'padding: 20px 0px 0px 10px;'>SetPoint</td>
                        <td style = 'padding: 20px 0px 0px 20px;'>Set Point</td>
                        <td>
                           <div class='row'>
                              <div class='col-sm-4 col-md-4 col-lg-4' style = 'padding-right: 0px;padding-top:10px;'><input value = '50' id = 'inputheat-000001'type = 'number' class = 'form-control'/></div>
                              <div class='col-sm-4 col-md-4 col-lg-4' style = 'padding-top:10px;'><button class= 'btn btn-primary' onclick = 'analog_change("heat-000001","stp1")'>click</button></div>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
<div class='box box-primary'>
   <div class='box-header'>
      <span id = 'heat-000004'></span> 
      <h3 class='box-title'><strong>heat-000004 : Heatpump 4</strong></h3>
      <div class="box-tools pull-right" id = "dateheat-000004"></div>
   </div>
   <div class='box-body'>
      <div class='container-fluid'>
         <div class='row'>
            <div class='col-md-4'>
               <img src = './images/heat-000004.png'style = 'width: 100%;'/><button style = 'width: 100%; margin-top: 25px;' type='button' class='btn btn-danger' data-toggle='modal' data-target='.bd-example-modal-lg-heat-000004'>เปลี่ยนรูปภาพ</button>
               <form action='./api/upload_image.php' method='post' enctype='multipart/form-data'>
                  <div class='modal fade bd-example-modal-lg-heat-000004' tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true'>
                     <div class='modal-dialog modal-lg'>
                        <div class='modal-content'>
                           <div class='modal-header'>
                              <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                              <h5 class='modal-title' id='exampleModalLabel' style = 'font-size: 24px;'>เปลี่ยนรูปภาพ heat-000004 : Heatpump 4</h5>
                           </div>
                           <div class='modal-body'>
                              <div class='form-group'><label for='upload_img'>Choose Image</label><input type='file' class='form-control-file' name='upload_img' id='upload_img' accept='image/*'/><input hidden id = '' name = 'device_id' value = 'heat-000004'/><input hidden id = '' name = 'station_id' value = '3'/></div>
                           </div>
                           <div class='modal-footer'><button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button><button type='submit' class='btn btn-danger'>Upload</button></div>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
            <div class='col-md-8'>
               <table class='table' style = 'font-size: 1.6rem;'>
                  <thead>
                     <tr style = 'font-: 1.0em;'>
                        <th  style='width: 15%'>TAG</th>
                        <th  style ='width: 15%;'>TYPE</th>
                        <th style='width: 35%;'>SENSOR DESCIPTION</th>
                        <th style='width: 10%;'>
                           <center>VALUE</center>
                        </th>
                        <th style='width: 30%;'>
                           <center>UNIT</center>
                        </th>
                     </tr>
                  </thead>
                  <tbody id = 'body_theat-000004'>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >crd1</td>
                        <td  id = '' >carel</td>
                        <td id = '' >Set Diff</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>C</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >crdh1</td>
                        <td  id = '' >carel</td>
                        <td id = '' >High Pressure CUTOFF</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>1:High /  0:Normal</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >crdl1</td>
                        <td  id = '' >carel</td>
                        <td id = '' >LOW Pressure CUTOFF</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>1:Low /  0:Normal</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >cri1</td>
                        <td  id = '' >carel</td>
                        <td id = '' >Inlet Temperature</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>C</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >cro1</td>
                        <td  id = '' >carel</td>
                        <td id = '' >Outlet Temperature</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>C</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >crs1</td>
                        <td  id = '' >carel</td>
                        <td id = '' >Set point Temp</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>C</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >d1</td>
                        <td  id = '' >DI</td>
                        <td id = '' >on/off</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>1:ON / 0:OFF</center>
                        </td>
                        <td></td>
                     </tr>
                  </tbody>
               </table>
               <table class='table' style = 'font-size: 1em;'>
                  <thead>
                     <tr style = 'font-size: 1em;'>
                        <th  style='width: 15%;'>TAG</th>
                        <th  style = 'width:15%;padding-left: 10px;'>TYPE</th>
                        <th style='width: 35%;padding-left: 20px;'>SWITCH DESCIPTION</th>
                        <th style='width: 35%;'>CONTROL OUTPUT</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr style = 'font-size:1em;'>
                        <td  style = 'padding: 20px 0px 0px 8px;'>r1</td>
                        <td  style = 'padding: 20px 0px 0px 10px;'>Output RR</td>
                        <td style = 'padding: 20px 0px 0px 20px;'>ON/OFF Control</td>
                        <td>
                           <div onclick = "fn_switch_toggle('check5d3ef5636875b105633ea30d','heat-000004','r1');" class='checkbox'><label><input type='checkbox' checked value = '5d3ef5636875b105633ea30d' data-toggle='toggle' id = 'check5d3ef5636875b105633ea30d'></label></div>
                        </td>
                     </tr>
                     <tr style = 'font-size:1em;'>
                        <td style = 'padding: 20px 0px 0px 8px;'>stp1</td>
                        <td style = 'padding: 20px 0px 0px 10px;'>SetPoint</td>
                        <td style = 'padding: 20px 0px 0px 20px;'>Set Point</td>
                        <td>
                           <div class='row'>
                              <div class='col-sm-4 col-md-4 col-lg-4' style = 'padding-right: 0px;padding-top:10px;'><input value = '50' id = 'inputheat-000004'type = 'number' class = 'form-control'/></div>
                              <div class='col-sm-4 col-md-4 col-lg-4' style = 'padding-top:10px;'><button class= 'btn btn-primary' onclick = 'analog_change("heat-000004","stp1")'>click</button></div>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
<div class='box box-primary'>
   <div class='box-header'>
      <span id = 'heat-000003'></span> 
      <h3 class='box-title'><strong>heat-000003 : Heatpump 3</strong></h3>
      <div class="box-tools pull-right" id = "dateheat-000003"></div>
   </div>
   <div class='box-body'>
      <div class='container-fluid'>
         <div class='row'>
            <div class='col-md-4'>
               <img src = './images/heat-000003.png'style = 'width: 100%;'/><button style = 'width: 100%; margin-top: 25px;' type='button' class='btn btn-danger' data-toggle='modal' data-target='.bd-example-modal-lg-heat-000003'>เปลี่ยนรูปภาพ</button>
               <form action='./api/upload_image.php' method='post' enctype='multipart/form-data'>
                  <div class='modal fade bd-example-modal-lg-heat-000003' tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true'>
                     <div class='modal-dialog modal-lg'>
                        <div class='modal-content'>
                           <div class='modal-header'>
                              <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                              <h5 class='modal-title' id='exampleModalLabel' style = 'font-size: 24px;'>เปลี่ยนรูปภาพ heat-000003 : Heatpump 3</h5>
                           </div>
                           <div class='modal-body'>
                              <div class='form-group'><label for='upload_img'>Choose Image</label><input type='file' class='form-control-file' name='upload_img' id='upload_img' accept='image/*'/><input hidden id = '' name = 'device_id' value = 'heat-000003'/><input hidden id = '' name = 'station_id' value = '3'/></div>
                           </div>
                           <div class='modal-footer'><button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button><button type='submit' class='btn btn-danger'>Upload</button></div>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
            <div class='col-md-8'>
               <table class='table' style = 'font-size: 1.6rem;'>
                  <thead>
                     <tr style = 'font-: 1.0em;'>
                        <th  style='width: 15%'>TAG</th>
                        <th  style ='width: 15%;'>TYPE</th>
                        <th style='width: 35%;'>SENSOR DESCIPTION</th>
                        <th style='width: 10%;'>
                           <center>VALUE</center>
                        </th>
                        <th style='width: 30%;'>
                           <center>UNIT</center>
                        </th>
                     </tr>
                  </thead>
                  <tbody id = 'body_theat-000003'>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >crd1</td>
                        <td  id = '' >carel</td>
                        <td id = '' >Set Diff</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>C</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >crdh1</td>
                        <td  id = '' >carel</td>
                        <td id = '' >High Pressure CUTOFF</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>1:High /  0:Normal</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >crdl1</td>
                        <td  id = '' >carel</td>
                        <td id = '' >LOW Pressure CUTOFF</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>1:Low /  0:Normal</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >cri1</td>
                        <td  id = '' >carel</td>
                        <td id = '' >Inlet Temperature</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>C</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >cro1</td>
                        <td  id = '' >carel</td>
                        <td id = '' >Outlet Temperature</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>C</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >crs1</td>
                        <td  id = '' >carel</td>
                        <td id = '' >Set point Temp</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>C</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >d1</td>
                        <td  id = '' >Dry Contact</td>
                        <td id = '' >on/off</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>1:ON / 0:OFF</center>
                        </td>
                        <td></td>
                     </tr>
                  </tbody>
               </table>
               <table class='table' style = 'font-size: 1em;'>
                  <thead>
                     <tr style = 'font-size: 1em;'>
                        <th  style='width: 15%;'>TAG</th>
                        <th  style = 'width:15%;padding-left: 10px;'>TYPE</th>
                        <th style='width: 35%;padding-left: 20px;'>SWITCH DESCIPTION</th>
                        <th style='width: 35%;'>CONTROL OUTPUT</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr style = 'font-size:1em;'>
                        <td  style = 'padding: 20px 0px 0px 8px;'>r1</td>
                        <td  style = 'padding: 20px 0px 0px 10px;'>Output RR</td>
                        <td style = 'padding: 20px 0px 0px 20px;'>ON/OFF Control</td>
                        <td>
                           <div onclick = "fn_switch_toggle('check5d3ef5606875b105633ea30b','heat-000003','r1');" class='checkbox'><label><input type='checkbox' checked value = '5d3ef5606875b105633ea30b' data-toggle='toggle' id = 'check5d3ef5606875b105633ea30b'></label></div>
                        </td>
                     </tr>
                     <tr style = 'font-size:1em;'>
                        <td style = 'padding: 20px 0px 0px 8px;'>stp1</td>
                        <td style = 'padding: 20px 0px 0px 10px;'>SetPoint</td>
                        <td style = 'padding: 20px 0px 0px 20px;'>Set Point</td>
                        <td>
                           <div class='row'>
                              <div class='col-sm-4 col-md-4 col-lg-4' style = 'padding-right: 0px;padding-top:10px;'><input value = '50' id = 'inputheat-000003'type = 'number' class = 'form-control'/></div>
                              <div class='col-sm-4 col-md-4 col-lg-4' style = 'padding-top:10px;'><button class= 'btn btn-primary' onclick = 'analog_change("heat-000003","stp1")'>click</button></div>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
<div class='box box-primary'>
   <div class='box-header'>
      <span id = 'heat-000002'></span> 
      <h3 class='box-title'><strong>heat-000002 : Heatpump 2</strong></h3>
      <div class="box-tools pull-right" id = "dateheat-000002"></div>
   </div>
   <div class='box-body'>
      <div class='container-fluid'>
         <div class='row'>
            <div class='col-md-4'>
               <img src = './images/heat-000002.png'style = 'width: 100%;'/><button style = 'width: 100%; margin-top: 25px;' type='button' class='btn btn-danger' data-toggle='modal' data-target='.bd-example-modal-lg-heat-000002'>เปลี่ยนรูปภาพ</button>
               <form action='./api/upload_image.php' method='post' enctype='multipart/form-data'>
                  <div class='modal fade bd-example-modal-lg-heat-000002' tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true'>
                     <div class='modal-dialog modal-lg'>
                        <div class='modal-content'>
                           <div class='modal-header'>
                              <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                              <h5 class='modal-title' id='exampleModalLabel' style = 'font-size: 24px;'>เปลี่ยนรูปภาพ heat-000002 : Heatpump 2</h5>
                           </div>
                           <div class='modal-body'>
                              <div class='form-group'><label for='upload_img'>Choose Image</label><input type='file' class='form-control-file' name='upload_img' id='upload_img' accept='image/*'/><input hidden id = '' name = 'device_id' value = 'heat-000002'/><input hidden id = '' name = 'station_id' value = '3'/></div>
                           </div>
                           <div class='modal-footer'><button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button><button type='submit' class='btn btn-danger'>Upload</button></div>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
            <div class='col-md-8'>
               <table class='table' style = 'font-size: 1.6rem;'>
                  <thead>
                     <tr style = 'font-: 1.0em;'>
                        <th  style='width: 15%'>TAG</th>
                        <th  style ='width: 15%;'>TYPE</th>
                        <th style='width: 35%;'>SENSOR DESCIPTION</th>
                        <th style='width: 10%;'>
                           <center>VALUE</center>
                        </th>
                        <th style='width: 30%;'>
                           <center>UNIT</center>
                        </th>
                     </tr>
                  </thead>
                  <tbody id = 'body_theat-000002'>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >crd1</td>
                        <td  id = '' >carel</td>
                        <td id = '' >Set Diff</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>C</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >crdh1</td>
                        <td  id = '' >carel</td>
                        <td id = '' >High Pressure CUTOFF</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>1:High / 0:Normal</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >crdl1</td>
                        <td  id = '' >carel</td>
                        <td id = '' >LOW Pressure CUTOFF</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>1:Low / 0:Normal</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >cri1</td>
                        <td  id = '' >carel</td>
                        <td id = '' >Inlet Temperature</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>C</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >cro1</td>
                        <td  id = '' >carel</td>
                        <td id = '' >Outlet Temperature</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>C</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >crs1</td>
                        <td  id = '' >carel</td>
                        <td id = '' >Set point Temp</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>C</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >d1</td>
                        <td  id = '' >Dry Contact</td>
                        <td id = '' >on/off</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>1:ON / 0:OFF</center>
                        </td>
                        <td></td>
                     </tr>
                  </tbody>
               </table>
               <table class='table' style = 'font-size: 1em;'>
                  <thead>
                     <tr style = 'font-size: 1em;'>
                        <th  style='width: 15%;'>TAG</th>
                        <th  style = 'width:15%;padding-left: 10px;'>TYPE</th>
                        <th style='width: 35%;padding-left: 20px;'>SWITCH DESCIPTION</th>
                        <th style='width: 35%;'>CONTROL OUTPUT</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr style = 'font-size:1em;'>
                        <td  style = 'padding: 20px 0px 0px 8px;'>r1</td>
                        <td  style = 'padding: 20px 0px 0px 10px;'>Output RR</td>
                        <td style = 'padding: 20px 0px 0px 20px;'>ON/OFF Control</td>
                        <td>
                           <div onclick = "fn_switch_toggle('check5d3ef55c6875b105633ea309','heat-000002','r1');" class='checkbox'><label><input type='checkbox' checked value = '5d3ef55c6875b105633ea309' data-toggle='toggle' id = 'check5d3ef55c6875b105633ea309'></label></div>
                        </td>
                     </tr>
                     <tr style = 'font-size:1em;'>
                        <td style = 'padding: 20px 0px 0px 8px;'>stp1</td>
                        <td style = 'padding: 20px 0px 0px 10px;'>SetPoint</td>
                        <td style = 'padding: 20px 0px 0px 20px;'>Set Point</td>
                        <td>
                           <div class='row'>
                              <div class='col-sm-4 col-md-4 col-lg-4' style = 'padding-right: 0px;padding-top:10px;'><input value = '50' id = 'inputheat-000002'type = 'number' class = 'form-control'/></div>
                              <div class='col-sm-4 col-md-4 col-lg-4' style = 'padding-top:10px;'><button class= 'btn btn-primary' onclick = 'analog_change("heat-000002","stp1")'>click</button></div>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
<div class='box box-primary'>
   <div class='box-header'>
      <span id = 'mheat-000001'></span> 
      <h3 class='box-title'><strong>mheat-000001 : Power Meter</strong></h3>
      <div class="box-tools pull-right" id = "datemheat-000001"></div>
   </div>
   <div class='box-body'>
      <div class='container-fluid'>
         <div class='row'>
            <div class='col-md-4'>
               <img src = './images/meter-pm.jpg'style = 'width: 100%;'/><button style = 'width: 100%; margin-top: 25px;' type='button' class='btn btn-danger' data-toggle='modal' data-target='.bd-example-modal-lg-mheat-000001'>เปลี่ยนรูปภาพ</button>
               <form action='./api/upload_image.php' method='post' enctype='multipart/form-data'>
                  <div class='modal fade bd-example-modal-lg-mheat-000001' tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true'>
                     <div class='modal-dialog modal-lg'>
                        <div class='modal-content'>
                           <div class='modal-header'>
                              <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                              <h5 class='modal-title' id='exampleModalLabel' style = 'font-size: 24px;'>เปลี่ยนรูปภาพ mheat-000001 : Power Meter</h5>
                           </div>
                           <div class='modal-body'>
                              <div class='form-group'><label for='upload_img'>Choose Image</label><input type='file' class='form-control-file' name='upload_img' id='upload_img' accept='image/*'/><input hidden id = '' name = 'device_id' value = 'mheat-000001'/><input hidden id = '' name = 'station_id' value = '3'/></div>
                           </div>
                           <div class='modal-footer'><button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button><button type='submit' class='btn btn-danger'>Upload</button></div>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
            <div class='col-md-8'>
               <table class='table' style = 'font-size: 1.6rem;'>
                  <thead>
                     <tr style = 'font-: 1.0em;'>
                        <th  style='width: 15%'>TAG</th>
                        <th  style ='width: 15%;'>TYPE</th>
                        <th style='width: 35%;'>SENSOR DESCIPTION</th>
                        <th style='width: 10%;'>
                           <center>VALUE</center>
                        </th>
                        <th style='width: 30%;'>
                           <center>UNIT</center>
                        </th>
                     </tr>
                  </thead>
                  <tbody id = 'body_tmheat-000001'>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >e1</td>
                        <td  id = '' >Meter</td>
                        <td id = '' >พลังงาน</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>WH</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >i1</td>
                        <td  id = '' >Meter</td>
                        <td id = '' >กระแส</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>A</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >p1</td>
                        <td  id = '' >Meter</td>
                        <td id = '' >กำลังไฟฟ้า</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>0</center>
                        </td>
                        <td id = '' >
                           <center>kW</center>
                        </td>
                        <td></td>
                     </tr>
                     <tr style = 'font-size:0.85em;'>
                        <td  id = '' >v1</td>
                        <td  id = '' >Meter</td>
                        <td id = '' >แรงดัน</td>
                        <td id = '' style = 'font-size: 1.6em;color: #c5306a;'>
                           <center>220.1</center>
                        </td>
                        <td id = '' >
                           <center>V</center>
                        </td>
                        <td></td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>